* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    min-height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 25rem;
    width: 50rem;
    padding: 1rem;
    gap: .5rem;
}

.topbar {
    display: flex;
    gap: 1rem;
    padding-left: 1.5rem;
}

.topbar button {
    padding: .2rem .5rem;
    background-color: #474646;
    color: #fff;
    border: none;
    border-radius: .2rem;
}

.shelves {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.shelves > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 0 .5rem;
    background-color: #B8B8B8;
    height: 6.25rem;
    width: 45rem;
    border-radius: 1rem;
}

.shelves > div > div {
    border-radius: .5rem;
    background-color: #474646;
    height: 80%;
    width: 10%;
}

.shelves > div > div > button {
    color: #fff;
    border-radius: 100%;
    background-color: rgb(231 44 44);
    border: none;
    padding: .1rem .3rem;
    position: relative;
    left: 80%;
    bottom: 5%;
}

#theDialog {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

#dialogform {
    background-color: #B8B8B8;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(51, 51, 51, .5);
}


#pages, #title, #author {
    padding: .1rem;
    border-radius: .25rem;
    border: 1px solid rgba(51, 51, 51, .5);
}
